---
import Header from "../components/Header.astro";
import Divider from "../components/Divider.astro";
import Footer from "../components/Footer.astro";

import "../styles/globals.css";

interface Props {
  id: string;
  title: string;
  author: string;
  description: string;
  tags: string[];
  published: string | Date;
  ogImage?: string;
}

const { id, title, description, published, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/pizza.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Nick Cosmo" />
    <title>{title}</title>

    <!-- OG Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={`https://www.nickcosmo.com/blog/${id}`} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content={`https://www.nickcosmo.com/${ogImage || "og-image.png"}`}
    />
    <meta property="og:image:alt" content="" />
  </head>
  <body class="fadeIn">
    <Header />
    <Divider />
    <div class="container">
      <h1>{title}</h1>
      <p><time>{new Date(published).toLocaleDateString()}</time></p>
      <Divider />
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global></style>
